.container {
  max-width: 1024px;
  margin: 0 auto 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
}

.searchBar {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #888;
  background: transparent;
  color: #eaeaea;
  margin-bottom: 2rem;
  transition: border-color 0.3s ease;
}

.searchBar::placeholder {
  color: #888;
}

.searchBar:focus {
  outline: none;
  border-bottom: 2px solid #bfaa8d;
}

/* ---------- List and Cards ---------- */
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #333;
}

.card {
  display: block;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #333;
  text-decoration: none;
  transition: background 0.3s ease;
}

.card:hover {
  background: #111111;
  transform: none !important;
}

.cardTitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

.cardMeta {
  font-size: 0.95rem;
  color: #999;
  margin: 0;
}

.cardTopic {
  font-size: 0.95rem;
  color: #bbb;
  margin-top: 0.25rem;
  margin-bottom: 0.2rem;
}

.cardSnippet {
  font-size: 1rem;
  color: #ddd1c1;
  line-height: 1.6;
  margin: 0;
}

/* ---------- Pagination ---------- */
.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 2rem auto 80px;
  flex-wrap: wrap;
}

.pageButton {
  font-family: 'Poppins', sans-serif;
  min-width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background-color: #1a1a1a;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: #333;
  font-weight: 600;
  font-size: 13px;
  color: #ddd1c1;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.pageButton:first-child {
  border-left-width: 2px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.pageButton:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pageButton:hover:not(.disabled):not(.active) {
  background-color: #2a2a2a;
  color: white;
}

.active {
  background-color: #bfaa8d;
  border-color: #bfaa8d;
  color: white;
}

.disabled {
  background-color: #1a1a1a;
  border-color: #222;
  color: #555;
  cursor: default;
  pointer-events: none;
}

@media (max-width: 525px) {

  .paginationWrapper {
    gap: 0.5rem;
  }
  
  .pageButtonLetter {
    display: none;
  }

  .pageButtonNumber {
    border-radius: 6px;
    border-width: 2px;
  }
}