.articleContent {
  font-size: 1.125rem;
  line-height: 1.8;
  color: white;
  font-family: var(--font-heading);
}

.articleContent h1,
.articleContent h2,
.articleContent h3,
.articleContent h4,
.articleContent h5,
.articleContent h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.25;
}

.articleContent h1 {
  font-size: 2.25rem;
}

.articleContent h2 {
  font-size: 1.75rem;
}

.articleContent h3 {
  font-size: 1.5rem;
}

.articleContent p {
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.articleContent ul {
  list-style-type: '→  ';
  list-style-position: outside;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.articleContent ol {
  list-style-type: decimal; /* ensures numbers show */
  list-style-position: outside;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.articleContent ul li,
.articleContent ol li {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.articleContent img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

.articleContent blockquote {
  padding: 1.5rem 0 0.5rem 1.5rem;
}

.articleContent code {
  background: #f4f4f4;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: monospace;
  font-size: 0.95rem;
}
