.navButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 20px;
  padding: 0 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.035);
  box-shadow: none;
}

.navButtonDisabled,
.navButton[disabled] {
  cursor: not-allowed;
  background-image: linear-gradient(to right, #b0b0b0, #a5a5a5);
  transform: none;
  pointer-events: none;
}

.navButtonDisabled:hover span,
.navButton[disabled]:hover span {
  padding-right: 0;
}

.navButtonDisabled:hover span:after,
.navButton[disabled]:hover span:after {
  opacity: 0;
  right: -15px;
  transition: none;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.navButton:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .navButton {
    width: 90%;
    margin: auto auto;
  }
}
